<div class="container">
  <%= form_for @resume do |f| %>
      <p class="pull-right links">
        <%= f.submit class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Back', :back, class: 'btn btn-default btn-sm' %>
      </p>
  <div class="row">
    <div class="col-md-4">
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @resume.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Basic information</h4></div>
          <hr>
            <div class="form-group">
              <%= f.text_field :name_user, class: 'ever-inputs', placeholder: 'Name*' %>
            </div>

            <div class="form-group">
              <%= f.text_area :user_info, class: 'ever-inputs', placeholder: 'General information*' %>
            </div>

            <div class="form-group">
              <%= f.text_field :user_interest, class: 'ever-inputs', placeholder: 'Interest*' %>
            </div>

            <div class="form-group fileUpload btn btn-primary">
              <span>Upload image</span>
              <%= f.file_field :avatar, class: 'upload' %>
              <%= f.hidden_field :user_id , :value => current_user.id %>
            </div>
        </div>

      </div>

     
      

       

      

    <!--   <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Languages</h4></div>
          <hr>
            <div id="languages">
              <%#= f.fields_for :languages do |language| %>
                  <%#= render 'languages_fields', f: language %>
              <%# end %>

              <div class="text-right">
                <%#= link_to_add_association 'Add more', f, :languages, partial: 'languages_fields', class: 'add-buttons pull-right' %>
              </div>
            </div>
        </div>
      </div> -->
  <% end %>

</div>