<div class="container">
 
  <%= simple_form_for(@resume) do |f| %>
      <p class="pull-right links">
        <%= f.submit class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Back', :back, class: 'btn btn-default btn-sm' %>
      </p>
  <div class="row">
    <div class="col-md-4">
      <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @resume.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>BASIC INFORMATIONS</h4></div>
          <hr>
            <div class="form-group fileUpload btn btn-primary">
              <span>Upload image</span>
              <%= f.file_field :avatar, class: 'upload' %>
              <%= f.hidden_field :user_id , :value => current_user.id %>
            </div>

            <div class="form-group">
              <%= f.input :name_user, class: 'ever-inputs', placeholder: 'Name*' %>
            </div>

            <div class="form-group">
              <%= f.input :user_info, class: 'ever-inputs', placeholder: 'General information*' %>
            </div>

            <div class="form-group">
              <%= f.input :user_interest, class: 'ever-inputs', placeholder: 'Interest*' %>
            </div>
             <br>
              <div class="text-center"><h4>EDUCATIONS</h4></div>
          <hr>

          <div class="form-group">
              <%= f.input :education_date_from, class: 'ever-inputs', placeholder: 'Start date*' %>
            </div>

             <div class="form-group">
              <%= f.input :education_date_to, class: 'ever-inputs', placeholder: 'End date*' %>
            </div>

             <div class="form-group">
              <%= f.input :education_location, class: 'ever-inputs', placeholder: 'Country of Certificate*' %>
            </div>

             <div class="form-group">
              <%= f.input :education_level, class: 'ever-inputs', placeholder: 'Level of Education*' %>
            </div>

            <div class="form-group">
              <%= f.input :education_description, class: 'ever-inputs', placeholder: 'About Program*' %>
            </div>
 <div class="text-right">
              <%= link_to new_resume_path, 'Add more', class: 'add-buttons pull-right' %>
            </div>
   <div class="text-center"><h4>JOBS</h4></div>
          <hr>

              <div class="form-inputs">
              <%= f.input :job_date_from, class: 'ever-inputs', placeholder: 'Start of Job*' %>
            </div>

             <div class="form-inputs mt-4">
              <%= f.input :job_date_to, class: 'ever-inputs', placeholder: 'End of Job*' %>
            </div>
        </div>

      </div>

<br>











     

       

      

    <!--   <div class="row">
        <div class="col-md-10 col-md-offset-1 card">
          <div class="text-center"><h4>Languages</h4></div>
          <hr>
            <div id="languages">
              <%#= f.fields_for :languages do |language| %>
                  <%#= render 'languages_fields', f: language %>
              <%# end %>

              <div class="text-right">
                <%#= link_to_add_association 'Add more', f, :languages, partial: 'languages_fields', class: 'add-buttons pull-right' %>
              </div>
            </div>
        </div>
      </div> -->
  <% end %>

</div>


